CODE:
0
STDOUT:
Problem has 1000 variables and 43636 clauses
Problem has 1000 variables (422 known) and 17274 clauses
Problem has 1000 variables (422 known) and 17274 clauses
ExecutionTime: 13.299
application time SATSolver (../examples/benchmark-suite/qg5-10.cnf) took 13.299 seconds
There are no solutions
-------------------------------SATIN STATISTICS--------------------------------
SATIN: SPAWN:       2,126 spawns, 2,126 executed, 1,063 syncs
SATIN: ABORT:       2 aborts, 0 abort msgs, 1 aborted jobs
SATIN: TUPLE_SPACE: 2,797 bcasts, 1,260,610 bytes
SATIN: STEAL:       4,418 attempts, 72 successes (1.630 %)
SATIN: MESSAGES:    intra 8,906 msgs, 8,788,372 bytes; inter 0 msgs, 0 bytes
-------------------------------SATIN TOTAL TIMES-------------------------------
SATIN: STEAL_TIME:               total  48.895  s time/req     11.067 ms
SATIN: HANDLE_STEAL_TIME:        total   4.359  s time/handle 986.593 us
SATIN: INV SERIALIZATION_TIME:   total   1.323  s time/write   18.376 ms
SATIN: INV DESERIALIZATION_TIME: total   2.107  s time/read    29.258 ms
SATIN: RET SERIALIZATION_TIME:   total  33.041 ms time/write  458.901 us
SATIN: RET DESERIALIZATION_TIME: total  46.773 ms time/read   649.619 us
SATIN: ABORT_TIME:               total 306.474 us time/abort  153.237 us
SATIN: TUPLE_SPACE_BCAST_TIME:   total  13.912  s time/bcast    4.974 ms
SATIN: TUPLE_SPACE_WAIT_TIME:    total 190.944 us time/bcast    2.652 us
-------------------------------SATIN RUN TIME BREAKDOWN------------------------
SATIN: TOTAL_RUN_TIME:                            23.689  s
SATIN: LOAD_BALANCING_TIME:      avg. per machine  12.456  s (52.581 %)
SATIN: (DE)SERIALIZATION_TIME:   avg. per machine 877.370 ms ( 3.704 %)
SATIN: ABORT_TIME:               avg. per machine  76.619 us ( 0.000 %)
SATIN: TUPLE_SPACE_BCAST_TIME:   avg. per machine   3.478  s (14.682 %)
SATIN: TUPLE_SPACE_WAIT_TIME:    avg. per machine  47.736 us ( 0.000 %)

SATIN: TOTAL_PARALLEL_OVERHEAD:  avg. per machine  16.811  s (70.967 %)
SATIN: USEFUL_APP_TIME:          avg. per machine   6.878  s (29.033 %)

STDERR:
Java 1.4.1 (IBM Corporation) on Linux 2.4.21-20.ELcustomsmp (x86)
Problem stored in tuple space: true
Propagated 422 unit clauses
Propagated 0 pure variables
Did 4 optimization iterations
//Learned 1874 clauses.
