CODE:
0
STDOUT:
Testing MPJ.MAXLOC with MPJ.INT2...
Testing MPJ.MAXLOC with MPJ.LONG2...
Testing MPJ.MAXLOC with MPJ.SHORT2...
Testing MPJ.MAXLOC with MPJ.FLOAT2...
Testing MPJ.MAXLOC with MPJ.DOUBLE2...
Testing MPJ.MINLOC with MPJ.INT2...
Testing MPJ.MINLOC with MPJ.LONG2...
Testing MPJ.MINLOC with MPJ.SHORT2...
Testing MPJ.MINLOC with MPJ.DOUBLE2...

Allreduce Max-Min-Loc TEST COMPLETE.


STDERR:
