CODE:
0
STDOUT:
Starting SOR

CPUs          : 4
Matrix size   : 1024x1024
Iterations    : dynamic
Calculation   : split-phase
Visualization : disabled

Problem parameters
r       : 0.9999952938095762
omega   : 1.9938828536147215
stopdiff: 0.1634749173906639
lb      : 0
ub      : 256
Rdc every 1

SOR 1024 x 1024 took 20.338 sec.
using 425 iterations, diff is 0.15819346728589467 (allowed diff 0.1634749173906639)
Application: SOR 1024 x 1024; Ncpus: 4; time: 20.338 seconds


STDERR:
I am the master: node025.das2.cs.vu.nl
........................................................................................................................................................................................................................................................................................................................................................................................................................................1: quits...
.0: quits...
2: quits...
3: quits...
