CODE:
0
STDOUT:
Created LEQ on 0 offset 0 size 334
Created LEQ on 2 offset 667 size 333
Created LEQ on 1 offset 334 size 333
LEQ on 1 starting calculation.
LEQ on 2 starting calculation.
LEQ on 0 starting calculation.
Stopped with residue 9.993007207699089E-4 with bound 0.0010
Time : 78.342 sec. (phases: 6906)

STDERR:
