Testing MPI.MAXLOC with MPI.INT2...
Testing MPI.MAXLOC with MPI.LONG2...
Testing MPI.MAXLOC with MPI.SHORT2...
Testing MPI.MAXLOC with MPI.FLOAT2...
Testing MPI.MAXLOC with MPI.DOUBLE2...
Testing MPI.MINLOC with MPI.INT2...
Testing MPI.MINLOC with MPI.LONG2...
Testing MPI.MINLOC with MPI.SHORT2...
Testing MPI.MINLOC with MPI.DOUBLE2...

Allreduce Max-Min-Loc TEST COMPLETE.

