CODE:
0
STDOUT:
Asp/manta started, n = 1000

Asp/manta  with threads, with threadpool, took 17.158 secs.
Application: Asp, 1000x1000; Ncpus: 2; time: 17.158 seconds


STDERR:
Reservation number 56754: Reserved 2 hosts for 900 seconds 
Run on 2 hosts for 960 seconds from Tue Jul 12 10:33:00 2005
: node039/0 node068/0 
