diff bsend.out bsend.out.sample
diff buffer.out buffer.out.sample
diff getcount.out getcount.out.sample
diff interf.out interf.out.sample
diff iprobe.out iprobe.out.sample
diff isend.out isend.out.sample
diff probe.out probe.out.sample
diff rsend.out rsend.out.sample
diff rsend2.out rsend2.out.sample
diff sendrecv.out sendrecv.out.sample
diff sendrecv_rep.out sendrecv_rep.out.sample
diff seq.out seq.out.sample
diff ssend.out ssend.out.sample
diff start.out start.out.sample
diff startall.out startall.out.sample
diff test1.out test1.out.sample
diff test2.out test2.out.sample
diff test3.out test3.out.sample
diff testall.out testall.out.sample
diff testany.out testany.out.sample
diff testsome.out testsome.out.sample
diff waitall.out waitall.out.sample
diff waitany.out waitany.out.sample
diff waitsome.out waitsome.out.sample
diff waitnull.out waitnull.out.sample
diff wildcard.out wildcard.out.sample
