CODE:
0
STDOUT:

MPJ.BYTE.size()    = 1
MPJ.CHAR.size()    = 1
MPJ.SHORT.size()   = 1
MPJ.BOOLEAN.size() = 1
MPJ.INT.size()     = 1
MPJ.LONG.size()    = 1
MPJ.FLOAT.size()   = 1
MPJ.DOUBLE.size()  = 1


STDERR:
