CODE:
0
STDOUT:
Sun RMI One Dimensional Fast Fourier Transformation
M:22 N:4194304 rootN:2048  Running on 2 cpu(s), each having 1024 rows to process
binding FFT_Master ...
binding FFT_Master done
0: Slave has found Master rmi_stub_Master@187d9056[RemoteReference@18569056]
1: Slave has found Master rmi_stub_Master@550b9516[RemoteReference@55399516]
FFT round 0 time 29.265
FFT round 1 time 29.462
FFT round 2 time 29.244
FFT round 3 time 28.999
FFT round 4 time 29.295
FFT, iterate 5; M = 22 time 146.265; per round 29.253
Application: FFT 22 -warmup 4; time: 146.265 seconds

STDERR:
