CODE:
0
STDOUT:
Sun RMI One Dimensional Fast Fourier Transformation
M:22 N:4194304 rootN:2048  Running on 2 cpu(s), each having 1024 rows to process
binding FFT_Master ...
binding FFT_Master done
0: Slave has found Master rmi_stub_Master@//277ddde1[RemoteReference@2726dde1]
1: Slave has found Master rmi_stub_Master@//61959ce1[RemoteReference@61cb9ce1]
FFT round 0 time 27.884
FFT round 1 time 28.082
FFT round 2 time 27.62
FFT round 3 time 27.68
FFT round 4 time 27.512
FFT, iterate 5; M = 22 time 138.778; per round 27.755
Application: FFT 22 -warmup 4; time: 138.778 seconds

STDERR:
