CODE:
0
STDOUT:
size = 2
rank = 1
Creating test ...
size = 2
rank = 0
Creating group ...
Group created!
Creating test ...
Joining group ...
Joining group ...
Joined group !!!
I am 1 of 2
Joined group !!!
I am 0 of 2
Test took 1313 ms. = 1313.0 micros/call
0 doing exit
1 doing exit

STDERR:
log4j:WARN No appenders could be found for logger (Test).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN No appenders could be found for logger (Test).
log4j:WARN Please initialize the log4j system properly.
