CODE:
0
STDOUT:
size = 2
rank = 0
Creating group ...
size = 2
rank = 1
Creating test ...
Group created!
Creating test ...
Joining group ...
Joining group ...
Joined group !!!
I am 1 of 2
Joined group !!!
I am 0 of 2
Test took 847 ms. = 847.0 micros/call
1 doing exit
0 doing exit

STDERR:
log4j:WARN No appenders could be found for logger (Test).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN No appenders could be found for logger (Test).
log4j:WARN Please initialize the log4j system properly.
