CODE:
0
STDOUT:
I am node060.das2.cs.vu.nl
Getting registry on node023.das2.cs.vu.nl
I am node023.das2.cs.vu.nl
Getting registry on node023.das2.cs.vu.nl
Got registry on node023.das2.cs.vu.nl
Got registry on node023.das2.cs.vu.nl
Distance table read
Distance table read
2184 Jobs generated
 found
 found
Minimum route = 3162
Calculation Time = 7983 ms; Parallel time 7407 ms
Application: TSP-RMI; Ncpus: 2; time: 7.983 seconds


STDERR:
