CODE:
0
STDOUT:
Running distributed (2 nodes)
Computing iteration: 0
Computing iteration: 1
Computing iteration: 2
Computing iteration: 3
Computing iteration: 4
Computing iteration: 5
Computing iteration: 6
Computing iteration: 7
Computing iteration: 8
Computing iteration: 9
Computing iteration: 10
Application: Barnes, 50000 bodies; Ncpus: 2; time: 37.441 seconds

Finished!

STDERR:
log4j:WARN No appenders could be found for logger (GlobalData).
log4j:WARN Please initialize the log4j system properly.
log4j:WARN No appenders could be found for logger (GlobalData).
log4j:WARN Please initialize the log4j system properly.
