CODE:
0
STDOUT:
1: connected to registry
ncpus 2 my_cpu 1
RMI Benchmark
Server: RMIenv done
Server ready.
0: connected to registry
ncpus 2 my_cpu 0
Done 100000 warmup RMIs size 0
RMI Bench: 15833 ms. for 100000 RMIs of size 0 bytes; 158.33 us./RMI
Server is gonna quit

STDERR:
Server object: constructor
