CODE:
0
STDOUT:
Starting TSP
table size = 15
2174 Jobs generated
cities 15
cities 15
2100 Jobs left
2000 Jobs left
1900 Jobs left
1800 Jobs left
1700 Jobs left
1600 Jobs left
1500 Jobs left
1400 Jobs left
1300 Jobs left
1200 Jobs left
1100 Jobs left
1000 Jobs left
900 Jobs left
800 Jobs left
700 Jobs left
600 Jobs left
500 Jobs left
400 Jobs left
300 Jobs left
200 Jobs left
100 Jobs left
0 Jobs left
TSP took 16.148 seconds.
minimum = 3162

STDERR:
