CODE:
0
STDOUT:
I am node061.das2.cs.vu.nl
Getting registry on node054.das2.cs.vu.nl
I am node054.das2.cs.vu.nl
Getting registry on node054.das2.cs.vu.nl
Got registry on node054.das2.cs.vu.nl
Got registry on node054.das2.cs.vu.nl
Distance table read
Distance table read
2184 Jobs generated
 found
 found
Minimum route = 3162
Calculation Time = 9970 ms; Parallel time 9450 ms
Application: TSP-RMI; Ncpus: 2; time: 9.97 seconds


STDERR:
